doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet")
    
  body
    nav
      ul
        li.navigation
            a(href="/main")
              img.homebtn(src="/images/logo.png" alt="Home")
        li
            a(href="/create") Create

          
    block content

    .divider
    footer.site-footer
      ul
        li
          a(href="/main") About Me
        li
          a(href="/main") Project
        li
          a(href="/main") Contact
      p © 2026 RE:WIND
        
        